
$font : "Segoe UI", Arial, Helvetica, sans-serif;
$color-splash : #f58A00;
$bg-splash: #333;
$color-nav :rgb(52, 73, 94);
$color-sidebar:#2e353d;
$font-color-sidebar : #e1ffff;
$color-hover-sidebar:#4f5b69;
$color-banner:#43c83c;
$widget-color:#31708f;
/*
mixin
*/
@mixin widget-header{
       color: white;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 8px;
        height: 50px;

}

@mixin widget-body{
    color:#31708f;
    border:1px solid #dddddd;
}
/*
layout
*/
.layout{
    height: 100%;
    width:100%;
    position: absolute;
    #content{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/*
page-splash
*/
#page-splash{
    width: 100%;
    height: 100%;
    position: fixed !important;
    background-color:$bg-splash;
    z-index: 9999 !important;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    opacity: .9;
    .content-splash{
    	.mess-splash{
        transition: opacity 0.5s linear;
		font-family: $font;
		text-align: center;
		color: $color-splash;
		text-transform: uppercase;
		font-size: 400%;
		font-weight: normal;
		text-shadow: 2px 2px #000000;
  		text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  		  margin: 20% auto 0 auto;

 
    	}
    	.process-splash{
			.bar{
				height: 30px;
				background-color: white;
				width: 1000px;
				margin:auto 0;
				border-radius: 10px;
				margin: 30px 10% !important;
			}
    	}
    }
}

/*
nav-bar
*/
header{
     height: 60px;
.navbar{
    background-color: $color-nav;
    z-index: 1000 !important;
    height: 60px;
    position: fixed;
   .navbar-brand{
    padding-left: 40px;
    color: white;
    font-size: 2em;
    font-weight: normal;
    &:hover{
        color:$color-splash
    }
   }
   .navbar-right{
    padding: 10px 50px 0 0;
    color:white;
    font-size: 1.5em;
       &:hover{
        color:$color-splash
    }
   }
}
}

/*
side-bar
*/
.side-bar{
    z-index: 1000;
    width:300px;
    background-color: $color-sidebar;
    height: 100%;
    position: absolute;
    a{
        color: $font-color-sidebar;
        text-decoration: none;
    }
    .list-group{
        padding-top: 25px;
        .list-group-item{
            background-color: $color-sidebar;
            border:none;
            font-size: 1.2em;
            font-weight: 550;
            &:hover{
                background-color: $color-hover-sidebar;
                border-right: 4px solid $color-splash;
                transition:1s ease;
            }
            i{
                margin-right: 10px;
                font-size: 20px;
            }
        } 
    }
    .active{
        background-color: $color-hover-sidebar !important;
    }
}


/*
banner
*/
.banner{
    height: 150px;
    padding-left: 300px;
    margin-bottom: 50px;
    .block{
        padding:0;
    .hello-world{
        margin-top: 25px;
        list-style-type: none;
        width:220px;
        height: 120px;
        background-color: $color-banner;
        color:white;
        .pull-left{
            font-size: 50px;
            margin: 10px 0 0 10px;
        }
        .pull-right{
            font-size: 25px;
            margin:20px 15px 0 0;
        }

    }
}
}
/*
content-view
*/
.content-view{
    padding-left: 300px;
}

/*
dashboard-view
*/

.dashboard-view{
    .col-md-6{
        .widget-left{
            .widget-header{
                @include widget-header;
                background-color: rgb(231, 76, 60) !important;
            }
            .widget-body{
                @include widget-body;
            }
        }
        .widget-right{
            .widget-header{
                @include widget-header;
                background-color: rgb(248, 133, 41);
            }
            .widget-body{
                @include widget-body;
            }
        }
    }
}

/*
customer-view
*/

.customer-view{
    .col-md-6  {
        .widget-left{
            .widget-header{
                @include widget-header;
                background-color: rgb(82, 185, 233);
            }
            .widget-body{
                @include widget-body;
                min-height: 314px;
             
            }
        }
        .widget-right{
            .widget-header{
                @include widget-header;
                background-color: rgb(155, 89, 182);
            }
            .widget-body{
                @include widget-body;
                .form-group{
                    margin-top: 10px;
                    label{
                        margin-left: 20px;
                    }
                    input{
                        width: 90%;
                        margin : 0 auto;
                    }
                    .btn-success{
                        margin:20px 0 0 20px;
                    }
                    .btn-default{
                    margin:20px 20px 0 20px;
                    float:right;
                    }
                }
            }
        }
    }
}

/*
animation
*/
[ui-view].ng-enter,[ui-view].ng-leave{
    position: absolute;
}

[ui-view].ng-enter{
    opacity: 0;
   transition:all .5s linear;
    transform:translateX(100%);
}
[ui-view].ng-enter.ng-enter-active{
    opacity: 1;
    transform:translateX(0);
}

[ui-view].ng-leave{
    transition : 0.5s linear;
    opacity:1;
    transform:translateX(0)
}
[ui-view].ng-leave.ng-leave-active{
    opacity: 0;
    transform:translateX(-100%);
}
